body{
    
    
    background-image: url(/w4b-FinalPJT/img/flower2_white.png), linear-gradient(141deg, #FFF800 0%, #2FD3D0 51%, #00CBFF 75%);
    padding: 0%;
    margin: 0%;
    height: 2000px;
    width: 100%;
    vertical-align: baseline;

}
header{

    height: 180px;
    background-image: linear-gradient(0deg, rgba(0,203,255,1), rgba(0,0,0,0));
    width: 100 vw;
}
.Notes{
    border:3px solid black;
}
.Logo{
    margin-left: 15.5px;
}
.nav{
    width: 100 vw;
    position: sticky; top: 0px; 
}
.nav li{
    display: inline-block;
    list-style: none; 
    color: #fff;
    
}
.nav ul{
    margin: 0px;
    padding: 0px;
    height: 0px;
}
.nav-link{
    color: #fff;
    text-decoration:none;
}
a {
    color: hotpink;
}
a:visited{
    color: blue;
}



.nav-link:active {
    color:yellow;
}

.Green{
    background-color: #09ff00;
    /* top right bottom left  */
    border: 3px solid black;
    position: absolute;
    right: 0px;
    margin-top: 0px;
    width: 50px;
    transition: width 1s;
    
}
.Green:hover{
    width: 175px;

}
.Pink{
    
    /* top right bottom left  */
    border: 3px solid black;
    background-color: #fc00a6;
    position: absolute;
    right: 0px;
    margin-top: 204px;
    width: 50px;
    transition: width 1s;
}
.Pink:hover{
    width: 175px;
}
.Yellow{
    
    /* top right bottom left  */
    border: 3px solid black;
    background-color: #fff800;
    
    position: absolute;
    right: 0px;
    margin-top: 408px;

}
.Blue{
    
    /* top right bottom left  */
    border: 3px solid black;
    background-color: #00f2ff;
    
    position: absolute;
    right: 0px;
    
    margin-top: 612px;

}
.Red{
    
    /* top right bottom left  */
    border: 3px solid black;
    
    position: absolute;
    right: 0px;
    
    margin-top: 818px;

}
.Sticky{
    border: 3px solid black;
}
footer {
    background-color: #ecffd2;
    position: relative;
    top: 1950px;
    width: 100%;
    height: 50px;            /* Footer height */
    
}    
.footer_txt {
    color: pink;
    margin: 0;
    /* vertical-align: middle; */
    text-align: center;

}
