body{
    background-color: white;
    padding: 0%;
    margin: 0%;
    height: 300%;
    vertical-align: baseline;

}
header{
    /*       top right bottom left */
    text-align: center;
    text-shadow: 2px 3px lightblue;
    background-image: radial-gradient(whitE, white, #66ffe0);
    width: 100%;
    height: 60px;
    border: 8px inset #42d7a5;
}

.nav{
    background-color: #cccccc;
    width: 100%;
    height: 40px;
    border: 3px solid black;
    text-align: left;
    position: sticky; top: 0px; 
}
.nav li{
    display: inline-block;
    list-style: none;
    line-height: 10px; 
    padding: 0 35px;   
    color: #fff;
    
}
.nav-link{
    color: #fff;
    text-decoration:none;
}
a {
    color: hotpink;
}
a:visited{
    color: blue;
}

.nav li:hover{
    background-color: red;
    height: 20px;
    transition: background .3s;
}
.nav-link:active {
    color:yellow;
}
/* Goals, To_Do's, Imp. Dates pg. */
.G_TD_ID{
    width: 100%;
    border: 8px inset #42d7a5;
    position: relative;
    float: left;
}
.M_and_Y{
    width: 30%;
    height: 60px;
    border: 8px inset pink;

}
.Goals{
    width: 46%;
    border: 8px inset purple;

}
.to_do{
    width: 50.7%;
    height: auto;
    border: 8px inset lavenderblush;
}
.checklist{
    height: auto;

}
.Imp_D{
    width: 40%;
    height: 170px;
    border: 8px inset royalblue;
}


footer{
    background-color: #ecffd2;
    width: 100%;
    height: 50px;
    margin-top: 0px;
}    
.footer_txt {
    vertical-align: middle;
    text-align: center;

}