body{
    background-color: white;
    padding: 0%;
    margin: 0%;
    vertical-align: baseline;

}
header{

    text-align: center;
    text-shadow: 2px 3px lightblue;
    background-image: radial-gradient(whitE, white, #66ffe0);
    width: 100 vw;
    height: 60px;
    border: 8px inset #42d7a5;
}

.nav{
    background-color: #cccccc;
    width: 100 vw;
    height: 60px;
    border: 3px solid black;
    text-align: left;
    position: sticky; top: 0px; 
}

.nav-link{
    color: #fff;
    text-decoration: none;
}

.nav li{
    display: inline-block;
    font-size: 20px;
    list-style: none;
    /* top right bottom left  */
    color: #fff;
    border: 3px solid black;
    margin-right:35px;
    
} 

   


a:visited{
    color: blue;
}

.nav li:hover{
    background-color: red;
    transition: background .3s;
    padding: 5px;
    position: relative;
}


.nav-link:active {
    color:yellow;
} 
*/


.dropbtn {
    background-color: #cccccc;
    font-size: 19px;
    /* padding: 16px;   #Makes the box*/
    border: none;
}
  
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: red;}

aside{

    background-color: #36d8cc;
    width: 50%;
    height: 1400px;
    float: right;
    text-align: center;
}

section{
    text-shadow: 2px 2px white;
    background-color: 	#99ff99;
    width: 50%;
    min-height: 700px;
    text-align: center;
}
.p_center {
    text-shadow: none;
    width: 40%;
    height: 40%;
    padding: 0px 30%;  
}
article{
    background-color: #ecb3ff;
    width: 50%;
    height: 700px;
    text-align: center;

}
footer{
    background-color: #ecffd2;;
    /*  #ecffd2; */
    width: 100%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}    
.footer_txt {
    color: pink;
    margin: 0;
    /* vertical-align: middle; */
    text-align: center;

}